@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap");

:root {
  --background-color: #f0ebe3;
  --text-primary-color: #000000;
  --heading-text-color: #576f72;
  --footer-background-color: #f9dcaf;
}

* {
  margin: 0;
}

.debug {
  background-color: grey;
}

body {
  background-color: var(--background-color);
  font-family: "Rubik";
  font-style: normal;
}

/* Code for Firefox */
.row::selection {
  color: var(--background-color);
  background-color: var(--text-primary-color);
}

body::-moz-selection {
  color: var(--background-color);
  background-color: var(--text-primary-color);
  font-style: normal;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--text-primary-color);
}

/* Navbar Styles */
.nav-container {
  background-color: var(--footer-background-color);
}

nav {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 0;
}

ul {
  padding: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.nav-link {
  text-decoration: none;
  color: var(--heading-text-color);
}

.container {
  min-height: 90vh; /* bad code design */
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.6em;
}

.title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4em;
  color: var(--heading-text-color);
}

.subtitle {
  font-size: 2em;
  font-weight: 400;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 1em;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 1.8em;
  border: 0.25em solid var(--heading-text-color);
  border-radius: 444px;
  font-size: 1em;
}

button:hover {
  background-color: var(--heading-text-color);
  color: var(--background-color);
  font-weight: 600;
}

.social-links {
  display: flex;
  justify-content: center;
  align-self: center;
}

.social-logo {
  width: 2em;
  height: 2em;
  margin: 0.25em 0.5em;
}

.social-logo:hover {
  width: 2.1em;
  height: 2.1em;
  margin: 0 0.6em;
  cursor: pointer;
}

footer {
  padding: 0.25em;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-background-color);
}

.quote {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  color: var(--heading-text-color);
}

@media (max-width: 600px) {
  body {
    /* display: none; */
  }

  .title {
    font-size: 2.5em;
  }

  .subtitle {
    font-size: 1.5em;
  }

  button {
    font-size: 0.8em;
  }

  .button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
  }
}
